body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    text-align: center;
    color: #0b35278f;

}
.logo img{
    display: block;
    margin: auto;

}
.logo p{
    line-height: 1px;
    font-weight: bold;

}
nav{
    position: sticky;
    top: 0;
    height: 70px;
    box-shadow: 1px 0px 5px #00000033;
    z-index: 10;
    background-color: rgb(191, 206, 200);
    background-color:  rgb(190, 204, 200);

}
nav ul{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:whitesmoke;
    color: #0b35278f;
    font-size: large;
    font-weight: bold;
}
nav ul li a:hover{
    border-bottom: 2px solid ;
    color: #0b35278f;
    cursor: pointer;
}
#home-container{
    background-image: url(./images/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}
.search-box{
    width: 23%;
    font-size: 2rem;
    font-weight: bold;
    padding: 30px;
}
.search-box input{
    width: 90%;
    height: 45px;
    border-radius: 10px;
    background-image: url(./images/search.png);
    background-repeat: no-repeat;
    background-position: 95%;
    
}

.img{
 
    margin-top: 4%;
    width: 24%;

}
.img img{
    border-top-left-radius: 53%;
}

.info{

    margin-top: 7%;
    text-align: center;
}
.info h2{
    color: #0b35278f;

}
#bestsellers {
    color: #0b35278f;
    margin-top: 6%;
    text-align: center;
    z-index: -10px;
}

.demandbooksbox{
    display: flex;
    justify-content: space-evenly;
    z-index: -5;
}
.demandbook{
    position: relative;
    border: 2px solid;
    border-radius: 21px;
    width: 23%;
    height: 350px;


}
.demandbook:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.demandbook img{
    border-radius: 20px;
}
.demandbook h4{

    color: white;
    background-color: #3d564e8f;
    position: absolute;
    bottom: 30px;
    padding: 10px 0px;
    font-size: 1.25rem;
    width: 100%;
}
.demandbook button{
    width: 50%  ;
    position: absolute;
    top: 305px;
    right: 25%;
    padding: 12px 5px;
    border-radius: 10px;
    background-color: #3354498f;
    color: white;
    border: 1px solid white;
    box-shadow: 1px 1px 2px gray;
  
}
.demandbook button:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.demandbooksbox1{
    height: 330px ;
    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;

}
/* books */
#books{
    margin-top: 10%;
    text-align: center;
    color: #3354498f;
    z-index: -50;
}
.bookbox{

          display: flex;
    justify-content: space-evenly;
}
.book{
    border-radius: 22px;
    border: 2px solid;
    position: relative;
    width: 23%;
    height: 350px;


}
.book:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.book img{
    border-radius: 20px;
}
.book h4{

    color: white;
    background-color: #3d564e8f;
    position: absolute;
    bottom: 30px;
    padding: 10px 0px;
    font-size: 1.25rem;
    width: 100%;
}
.book button{
    width: 50%  ;
    position: absolute;
    top: 305px;
    right: 25%;
    padding: 12px 5px;
    border-radius: 10px;
    background-color: #3354498f;
    color: white;
    border: 1px solid white;
    box-shadow: 1px 1px 2px gray;
   
}
.book button:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.bookbox1{
    height: 330px ;
    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;

}
/* footer */
footer{
    background-image: linear-gradient(rgba(143, 174, 164, 0.263), rgba(45, 52, 54, 0.6)), url(./images/bg-image-footer.png);
    background-color: rgba(100, 125, 117, 0.263);
    background-position: center;
    background-size: cover;
    margin-top: 10%;
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
  }
  .main-menu {
    text-align: center;
    font-size: 1.15em;
    width: 30%;
}

.main-menu ul li {
    list-style: none;
    margin-right: 50px;

}

.main-menu ul li a {
    color: white;


    text-decoration: none;
}
.about-us {
    text-align: center;
    width: 30%;
    font-size: 1.15em;
}
.copyright{
    margin-top: 55px;
    background-color: #949a988f;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 18px;

}


@media (max-width: 900px) {
    .search-box p{
      font-size: 1.5rem;
    }
  }
  @media (max-width: 720px) {
    .img{
      width: 170px;
    }
  }
  @media (max-width: 580px){
    #home-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .img{
        width: 50%;
    }
    .search-box{
        width: 80%;
        margin: auto;
    }
  }
  /* bestsellers  */ 
  @media (max-width: 740px){
    .demandbooksbox{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .demandbook{
        width: 330px;
        height: 380px;
        margin-top: 7%;
        border: 2px solid;
        border-radius: 5%;
    }
    .demandbook button{
        top: 330px;
    }
    .demandbooksbox1{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
  }

  /* books */
  @media (max-width: 740px){
    #books{
        margin-top: 990px;
        text-align: center;

    }
    .bookbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .book{
        width: 330px;
        height: 380px;
        margin-top: 5%;
    }
    .book button{
        top: 330px;
    }
    .bookbox1{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
   
  }
/* footer */
  @media (max-width: 740px)
  {
 footer{

        margin-top: 960px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-icons{
        margin:0 auto;
    }
    .main-menu{
        width: 100%;
    }
    .main-menu ul{
        padding-left: 0px;
    }
    .about-us{
        width: 100%;
    }
  }

