body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    text-align: center;
    color: #0b35278f;

}
.logo img{
    display: block;
    margin: auto;

}
.logo p{
    line-height: 1px;
    font-weight: bold;

}
nav{
    position: sticky;
    top: 0;
    height: 70px;
    box-shadow: 1px 0px 5px #00000033;
}
nav ul{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #0b35278f;
    font-size: large;
    font-weight: bold;
}
nav ul li a:hover{
    border-bottom: 2px solid ;
    color: #0b35278f;
    cursor: pointer;
}
#home-container{
    background-image: url(./images/bg-image.png);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}
.search-box{
    width: 23%;
    font-size: 2rem;
    font-weight: bold;
    padding: 30px;
}
.search-box input{
    width: 90%;
    height: 45px;
    border-radius: 10px;
    background-image: url(./images/search.png);
    background-repeat: no-repeat;
    background-position: 95%;
    
}

.img{
 
    margin-top: 4%;
    width: 24%;

}
.img img{
    border-top-left-radius: 53%;
}

.info{

    margin-top: 7%;
    text-align: center;
}
.info h2{
    color: #0b35278f;

}
@media (max-width: 900px) {
    .search-box p{
      font-size: 1.5rem;
    }
  }
  @media (max-width: 720px) {
    .img{
      width: 170px;
    }
  }
  @media (max-width: 580px){
    #home-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .img{
        width: 50%;
        margin: auto;
    }
    .search-box{
        width: 80%;
        margin: auto;
    }
  }